body[data-race="human"] {
    --color-primary: #aaaaff;
}

body[data-race="orc"] {
    --color-primary: #ff7777;
}

.app, .interface {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.app > header {
    border-bottom: 0.25rem solid var(--color-secondary);
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.2rem;
}

.app > footer {
    border-top: 0.25rem solid var(--color-secondary);
}

.view, .panel, .canvas-wrapper {
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    &.active {
        opacity: 1;
        pointer-events: all;
        z-index: 1;
    }

    &.interface {
        pointer-events: none;
        background-color: transparent;
    }

    &.interface > header,
    &.interface > footer {
        pointer-events: all;
    }
}

.view, .panel, .canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-default);
}

.view-container, .panel-container {
    position: relative;
    flex: 1 1 auto;
    pointer-events: none;
}

.view-container > section.canvas-wrapper {
    pointer-events: all;
    opacity: 1;
    z-index: 0;
}

canvas {
	background-color: var(--color-secondary);
}

.panel {
    --margin: 1rem;
    left: var(--margin);
    top: var(--margin);
    width: calc(100% - 2 * var(--margin));
    height: calc(100% - 2 * var(--margin));
    border-radius: 0.25rem;
    background-color: green;
}