body {

    [data-cursor="grab"] {
        cursor: grab;
    }

    [data-cursor="grabbing"] {
        cursor: grabbing;
    }

    [data-cursor="default"] {
        cursor: default
    }

    [data-cursor="pointer"] {
        cursor: pointer
    }

}