[class*="align__"] {
	position: absolute;
	display: flex;

	&[class*="left"] {
		left: 2rem;
	}

	&[class*="right"] {
		right: 2rem;
	}

	&[class*="top"] {
		top: 2rem;
	}

	&[class*="bottom"] {
		bottom: 2rem;
	}

	&[class*="middle"] {
		top: 50%;
		transform: translateY(-50%);
	}

	&[class*="center"] {
		left: 50%;
		transform: translateX(-50%);
	}
}