<div class="interface--wrapper">

    <main class="interface">

        <header>
            <svg><use xlink:href="#icon-hammer" /></svg>
            <svg><use xlink:href="#icon-stone" /></svg>
            <svg><use xlink:href="#icon-bricks" /></svg>
            <svg><use xlink:href="#icon-ore" /></svg>
            <svg><use xlink:href="#icon-ingot" /></svg>
            <svg><use xlink:href="#icon-wheat" /></svg>
            <svg><use xlink:href="#icon-log" /></svg>
            <svg><use xlink:href="#icon-plank" /></svg>
            <svg><use xlink:href="#icon-currency" /></svg>
            <svg><use xlink:href="#icon-world" /></svg>
        </header>
    
        <section class="buildings">
            <ul>
                <li data-color="#2d3436" data-size="9,9,9">Castle</li>
                <li data-color="#2d3436" data-size="2,2,2">House</li>
                <li data-color="#2d3436" data-size="5,3,3">Smith</li>
                <li data-color="#2d3436" data-size="6,3,6">Farm</li>
                <li data-color="#2d3436" data-size="2,3,5">Saw Mill</li>
                <li data-color="#2d3436" data-size="4,3,6">Stables</li>
            </ul>
        </section>
    
    </main>

</div>