<nav id="navigation" class="navigation">
    <a href="/guild" data-navigo name="guild">
        <svg><use xlink:href="#icon-guild" /></svg>
    </a>
    <a href="/world" data-navigo name="world">
        <svg><use xlink:href="#icon-world" /></svg>
    </a>
    <a href="/village" class="active" data-navigo name="village">
        <svg><use xlink:href="#icon-village" /></svg>
    </a>
    <a href="/troops" data-navigo name="troops">
        <svg><use xlink:href="#icon-troops" /></svg>
    </a>
    <a href="/gear" data-navigo name="gear">
        <svg><use xlink:href="#icon-gear" /></svg>
    </a>
</nav>