.buildings {
    bottom: 0;
    left: 0;
    width: 100%;
}

.buildings ul {
    display: flex;
}

.buildings ul li {
    flex: 1;
    text-align: center;
    padding: 1rem 0;
    // cursor: move;
    // cursor: grab;
    cursor: pointer;
}

// .buildings ul li:active {
//     cursor: grabbing;
// }