<section id="village" class="view interface" data-view="village">
    <header>
        <ul class="resources">
            <li><svg><use xlink:href="#icon-stone"/></svg><span>210</span></li>
            <li><svg><use xlink:href="#icon-brick"/></svg><span>315</span></li>
            <li><svg><use xlink:href="#icon-ore"/></svg><span>561</span></li>
            <li><svg><use xlink:href="#icon-ingot"/></svg><span>125</span></li>
        </ul>
        <ul class="resources">
            <li><svg><use xlink:href="#icon-log"/></svg><span>631</span></li>
            <li><svg><use xlink:href="#icon-plank"/></svg><span>582</span></li>
            <li><svg><use xlink:href="#icon-wheat"/></svg><span>420</span></li>
            <li><svg><use xlink:href="#icon-bread"/></svg><span>1250</span></li>
        </ul>
    </header>
    
    <div class="panel-container">
        @@include('./panels/castle.html')
        @@include('./panels/house.html')
        @@include('./panels/smith.html')
        @@include('./panels/farm.html')
        @@include('./panels/lumbermill.html')
        @@include('./panels/stables.html')
    </div>

    <footer>
        <div class="helper" data-helper="building-placement">
            <div class="building"></div>
            <button name="cancel"><svg><use xlink:href="#icon-cancel" /></svg></button>
            <button name="confirm"><svg><use xlink:href="#icon-confirm" /></svg></button>
        </div>
        <ul class="buildings helper active" data-helper="building-selection">
            <li>
                <button data-building="castle" data-color="#2d3436" data-size="9,9,9">
                    <svg><use xlink:href="#icon-castle" /></svg>
                    <span>Castle</span>
                </button>
            </li>
            <li>
                <button data-building="house" data-color="#2d3436" data-size="2,2,2">
                    <svg><use xlink:href="#icon-house" /></svg>
                    <span>House</span>
                </button>
            </li>
            <li>
                <button data-building="smith" data-color="#2d3436" data-size="5,3,3">
                    <svg><use xlink:href="#icon-smith" /></svg>
                    <span>Smith</span>
                </button>
            </li>
            <li>
                <button data-building="farm" data-color="#2d3436" data-size="6,3,6">
                    <svg><use xlink:href="#icon-farm" /></svg>
                    <span>Farm</span>
                </button>
            </li>
            <li>
                <button data-building="lumbermill" data-color="#2d3436" data-size="2,3,5">
                    <svg><use xlink:href="#icon-lumbermill" /></svg>
                    <span>Saw Mill</span>
                </button>
            </li>
            <li>
                <button data-building="stables" data-color="#2d3436" data-size="4,3,6">
                    <svg><use xlink:href="#icon-stables" /></svg>
                    <span>Stables</span>
                </button>
            </li>
        </ul>
    </footer>
</section>